{% extends 'base.html' %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>

    <br/>
    <br/>
    <br/>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <iframe width="600" height="auto" allowfullscreen src="https://cdn.soft8soft.com/AROAJSY2GOEHMOFUVPIOE:81df846906/applications/New Time - Nutrimed/New Time - Nutrimed.html"></iframe>
    </div>
    <div class="col-sm">
      <iframe width="600" height="auto" allowfullscreen src="https://cdn.soft8soft.com/AROAJSY2GOEHMOFUVPIOE:81df846906/applications/New Time - Nutrimed/New Time - Nutrimed.html"></iframe>
    </div>
    <div class="col-sm">
      <iframe width="600" height="auto" allowfullscreen src="https://cdn.soft8soft.com/AROAJSY2GOEHMOFUVPIOE:81df846906/applications/New Time - Nutrimed/New Time - Nutrimed.html"></iframe>
    </div>
  </div>
</div>
{% endblock %}

