{% extends 'base.html' %}

{% block main %}
Seja bem vindo

    Olá {{ usuario.funcionario.nome }}
    <br/>
    <a href="{% url 'list_funcionarios' %}">Gerenciar Funcionários</a>
    <br/>
{% if usuario.funcionario.empresa %}
    <a href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}">Editar empresa</a>
    <br/>
{% else %}
    <a href="{% url 'create_empresa' %}">Criar empresa</a>
    <br/>
{% endif %}

<a href="{% url 'logout' %}">logout</a>
<br/>
<img src="https://cdn.soft8soft.com/AROAJSY2GOEHMOFUVPIOE:81df846906/applications/New%20Time%20-%20Nutrimed/New%20Time%20-%20Nutrimed.html">
<br/>
<div class="row">
    <iframe width="256" height="auto" allowfullscreen src="https://cdn.soft8soft.com/AROAJSY2GOEHMOFUVPIOE:81df846906/applications/New Time - Nutrimed/New Time - Nutrimed.html"></iframe>
</div>
{% endblock %}